PORT= # 3000
WHITELIST= 
DOMAIN=  # .snacktrack.live
ENV= # dev or prod

# MongoDB (db name append at end of URL)
MONGODB_URL= mongodb+srv://<user_name>:<db_password>@cluster0.i6nksnw.mongodb.net/<db_name>

# Tokens
QR_SECRET=
ACCESS_TOKEN_SECRET= 
ACCESS_TOKEN_EXPIRY= 
ACCESS_TOKEN_MAXAGE= 
REFRESH_TOKEN_SECRET= 
REFRESH_TOKEN_EXPIRY= 
REFRESH_TOKEN_MAXAGE=  

# Cloudinary
CLOUDINARY_CLOUD_NAME= 
CLOUDINARY_API_KEY= 
CLOUDINARY_API_SECRET= 

# Redis
REDIS_PORT= 
REDIS_PASSWORD= 
REDIS_USERNAME= 
REDIS_HOST= 

# Nodemailer
ADMIN_EMAIL= 
ADMIN_EMAIL_PASSWORD= 

# Admin 
ADMIN_KEY= 

# Twilio
TWILIO_ACCOUNT_SID= 
TWILIO_AUTH_TOKEN= 
TWILIO_PHONE_NUMBER= 