PORT = 3000
FRONTEND_URL = # http://localhost:5173 

# MongoDB
MONGODB_NAME = 
MONGODB_URL = 

# Tokens
ACCESS_TOKEN_SECRET = 
ACCESS_TOKEN_EXPIRY = 
ACCESS_TOKEN_MAXAGE = 

REFRESH_TOKEN_SECRET = 
REFRESH_TOKEN_EXPIRY = 
REFRESH_TOKEN_MAXAGE = 

ADMIN_KEY_TOKEN_SECRET = 
ADMIN_KEY_TOKEN_EXPIRY = 
ADMIN_KEY_TOKEN_MAXAGE = 

STAFF_KEY_TOKEN_SECRET = 
STAFF_KEY_TOKEN_EXPIRY = 
STAFF_KEY_TOKEN_MAXAGE = 

# Cloudinary
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 

# Redis
REDIS_PORT = 
REDIS_PASSWORD = 
REDIS_USERNAME = 
REDIS_HOST = 

# G-mail (nodemailer)
ADMIN_EMAIL = 
ADMIN_EMAIL_PASSWORD = 

# Admin 
ADMIN_KEY = 

# Twilio
TWILIO_ACCOUNT_SID = 
TWILIO_AUTH_TOKEN = 
TWILIO_PHONE_NUMBER = 