@import 'tailwindcss';

/* ::-webkit-scrollbar {
    display: none;
} */


/* Webkit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    background: #859cec;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4164e1; /* hover color */
}

/* Firefox */
* {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: thin;
    scrollbar-color: #859cec transparent; /* thumb and track colors */
}
